// out: ../../components/alerts.css

@import "../variables";

.ul-ui.alert {
    font-size: 1em;
}
.ul-ui.alert {
    position: relative;
    min-height: 1em;
    margin: 1em 0em;
    background: #e1e2e2;
    padding: 1em 1.25em;
    line-height: 1.25em;
    color: #444444;
}
.ul-ui.alert p:last-child {
    margin-bottom: 0em;
}
.ul-ui.alert p:first-child {
    margin-top: 0em;
}
.ul-ui.alert > :last-child {
    margin-bottom: 0em;
}
.ul-ui.alert > :first-child {
    margin-top: 0em;
}
.ul-ui.alert p {
    opacity: 0.8;
}