// out: ../../components/typography.css

@import "../variables";

html {font-size: 100%}

body { 
    font-family: "Segoe UI","Helvetica Neue",sans-serif;
    font-weight: 400;
    line-height: 1.45; 
    color: #333;
  
  }

p {
    margin: 0 0 @md;
    line-height: @lg;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: @md;
    margin: calc(1em - .14285714em) 0 1em;
    padding: 0;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    min-height: 1em;
    font-size: @huge;
}

h2 {
    font-size: @xxlg;
}

h3 {
    font-size: @xlg;
}

h4 {
    font-size: @lg;
}

h5 {
    font-size: @md;
}
small, .text-small {
    font-size: @sm;
}
.ul-ui.dividing.header {
    padding-bottom: 0.2em;
    border-bottom: 1px solid #c7c9c9;
}
h1.ul-ui.header {
    font-size: @huge;
}
.ul-ui.header {
    border: none;
    margin: calc(1.85714286rem) 0 1rem;
    padding: 0 0;
    line-height: @md;
    text-transform: none;
    color: rgba(0, 0, 0, 0.87);
}

.ul-ui.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: @md;
}