.ul-ui.container.example.open {
    padding-left: 280px;
    padding-right: 30px;
    padding-bottom: 40px;
}
.ul-ui.container.example {
    padding-left: 0;
    width: 100%;
    background-color: transparent;
    overflow: auto;
}
.example.toc {
    width: 15em;
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: scroll;
    height: 100%;
}