.code-script {
  display: block;
  white-space: pre-line;
}
pre {
  margin: 0;
  white-space: pre-wrap;
}

.ul-ui.container.example.open {
    padding-left: 290px;
    padding-right: 50px;
    padding-bottom: 50px;
}
main > nav  ul {
    background-color: transparent;
    list-style-type: none;
    overflow: auto;
    padding-left: 1rem;
    width: 100%;
}
main > nav {
    width: 15em;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y:scroll;
    max-height: 100%;
}

main > nav {
}

.example-cont {
  background-color: rgba(255, 255, 255, 0.35);
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  border-radius: 8px;
}
.example-cont .button {
  margin-bottom: 5px;
}
.example-cont .view {
  width: 97%;
  display: inline-block;
  position: relative;
}

.example-cont .view .codeview {
  position: absolute;
  right: -40px;
  z-index: 9;
  border: 4px solid #efefef;
}
.example-cont .code {
  overflow-y: scroll;
  background-color: white;
  padding: 40px;
  width: 95%;
  display: none;
  margin: 0;
}
/*========================= TOC */
.toc-spacer {
  height: 500px;
}
.ul-ui.vertical.menu {
    width: 15rem;
  }
  .ul-ui.vertical.menu {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  }
  .ul-ui.menu:last-child {
    margin-bottom: 0;
  }
  .ul-ui.menu:first-child {
    margin-top: 0;
  }
  .ul-ui.menu {
    font-size: 1em;
  }
  .ul-ui.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1em 0;
    background: #fff;
    font-weight: 400;
    min-height: 2.441em;
  }
  .ul-ui.vertical.menu .item {
    display: block;
    background: 0 0;
    border-top: none;
    border-right: none;
    padding: 1em;
  }

  main > nav .selected {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.95);
    font-weight: 400;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .ul-ui.menu .item {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: 0.8em 1.563em;
    text-transform: none;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    -webkit-transition: background 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: background 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
    transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
  }
  .ul-ui.vertical.menu .item > .header:not(.ul-ui):first-child {
    margin-top: -1em;
  }
  .ul-ui.vertical.menu .item > .header:not(.ul-ui) {
    margin: 0 -1em;
    font-size: 1em;
    font-weight: 700;
    padding: 1em;
  }
  .ul-ui.vertical.menu .item > .menu {
    margin: 0 -1em 0;
  }
  .ul-ui.menu .menu {
    margin: 0;
  }
  .ul-ui.vertical.menu .active.item {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
   border-right: 4px solid #c02032;
   pointer-events: none;
  }
  .ul-ui.vertical .item .menu .active.item {
    font-weight: bold;
    color: black;
    border: none;
}
  .ul-ui.vertical.menu .menu .item {
    background: 0 0;
    padding: 0.5em 1.25em;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.25em;
  }
  .ul-ui.vertical.menu .item > .header:not(.ul-ui).active {
    background: rgba(0, 0, 0, 0.03);
    border-right: 4px solid #c02032;
  }
  .ul-ui.link.menu .item:hover,
  .ul-ui.menu .link.item:hover,
  .ul-ui.menu a.item:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.03);
    color: rgba(0, 0, 0, 0.95);
  }
  .ul-ui.vertical.menu .item .menu .link.item:hover,
  .ul-ui.vertical.menu .item .menu a.item:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.85);
  }
  /*.ul-ui.vertical.menu .item .menu .link.item:hover:after, .ul-ui.vertical.menu .item .menu a.item:hover:after {
      width: 0;
  }
  .ul-ui.link.menu .item:hover::after, .ul-ui.menu .link.item:hover::after, .ul-ui.menu a.item:hover::after {
      width: 0;
  }*/
  
