
/*******************************
            List
*******************************/
ul.ul-ul-ui.list,
ol.ul-ui.list,
.ul-ui.list {
  list-style-type: none;
  margin: 1em 0em;
  padding: 0em 0em;
}
ul.ul-ui.list:first-child,
ol.ul-ui.list:first-child,
.ul-ui.list:first-child {
  margin-top: 0em;
  padding-top: 0em;
}
ul.ul-ui.list:last-child,
ol.ul-ui.list:last-child,
.ul-ui.list:last-child {
  margin-bottom: 0em;
  padding-bottom: 0em;
}
/*******************************
            Content
*******************************/
/* List Item */
ul.ul-ui.list li,
ol.ul-ui.list li,
.ul-ui.list > .item,
.ul-ui.list .list > .item {
  display: list-item;
  table-layout: fixed;
  list-style-type: none;
  list-style-position: outside;
  padding: 0.21428571em 0em;
  line-height: 1.14285714em;
}
ul.ul-ui.list > li:first-child:after,
ol.ul-ui.list > li:first-child:after,
.ul-ui.list > .list > .item,
.ul-ui.list > .item:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
ul.ul-ui.list li:first-child,
ol.ul-ui.list li:first-child,
.ul-ui.list .list > .item:first-child,
.ul-ui.list > .item:first-child {
  padding-top: 0em;
}
ul.ul-ui.list li:last-child,
ol.ul-ui.list li:last-child,
.ul-ui.list .list > .item:last-child,
.ul-ui.list > .item:last-child {
  padding-bottom: 0em;
}
/* Child List */
ul.ul-ui.list ul,
ol.ul-ui.list ol,
.ul-ui.list .list {
  clear: both;
  margin: 0em;
  padding: 0.75em 0em 0.25em 0.5em;
}
/* Child Item */
ul.ul-ui.list ul li,
ol.ul-ui.list ol li,
.ul-ui.list .list > .item {
  padding: 0.14285714em 0em;
  line-height: inherit;
}

/* Header */
.ul-ui.list .list > .item .header,
.ul-ui.list > .item .header {
  display: block;
  margin: 0.512em 0;
  font-size: 1em;
  color: #444444;
}
