/*******************************
            Spacing & Fonts
*******************************/
/*******************************
            Colors
*******************************/
/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/
@import "components/alerts.css";
@import "components/icon.css";
@import "components/buttons.css";
@import "components/typography.css";
@import "components/list.css";
@import "components/image.css";
@import "components/menu.css";
@import "example.css";
body {
  color: #444444;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.28571429em;
  margin: calc(0.85714286em) 0 1em;
  padding: 0;
}
h1 {
  min-height: 1em;
  font-size: 2.441em;
}
h2 {
  font-size: 1.953em;
}
h3 {
  font-size: 1.563em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
/*.ul-ui {
    &.container {
        padding: @xlg;
    }
}*/
/* ======================================== ANCHORS */
a,
a:visited {
  text-decoration: none;
  position: relative;
  color: #c02032;
  cursor: pointer;
}
a:hover,
a:active {
  color: #666666 !important;
}
a:after,
a:visited:after {
  content: '';
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #e56170;
  transition: 0.2s;
}
a:hover:after,
a:visited:hover:after {
  width: 100%;
}
a.block,
a:visited.block {
  padding: 0.5em;
  display: block;
}
a.block.active {
  background: #f5f5f5;
}
a.block:hover,
a:visited.block:hover {
  background: #f5f5f5;
}
/* ------------
    Utilities  
---------------*/
.lg-shadow {
  -webkit-box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
}
.shadow {
  -webkit-box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 20px -12px rgba(0, 0, 0, 0.75);
}
.sm-shadow {
  -webkit-box-shadow: 10px 10px 10px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 10px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 10px -12px rgba(0, 0, 0, 0.75);
}
.red-bkg {
  background-color: red;
  color: white;
}
.ul-ui .divider {
  margin: 2.441em 0;
  height: 1px;
  width: 100%;
  background-color: #939598;
}
