
/*******************************
            Header
*******************************/
/* Standard */
.ul-ui.header {
  border: none;
  margin: calc(1.85714286rem) 0em 1rem;
  padding: 0em 0em;
  line-height: 1.25em;
  text-transform: none;
  color: #444444;
}
.ul-ui.header:first-child {
  margin-top: -0.14285714em;
}
.ul-ui.header:last-child {
  margin-bottom: 0em;
}
/*--------------
   Sub Header
---------------*/
.ul-ui.header .sub.header {
  display: block;
  font-weight: normal;
  padding: 0em;
  margin: 0em;
  font-size: 1em;
  line-height: 1.25em;
  color: #666666;
}

/*--------------
     Page
---------------*/
h1 {
  min-height: 1em;
  font-size: 2.441em;
}
h2 {
  font-size: 1.953em;
}
h3 {
  font-size: 1.563em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h1.ul-ui.header {
  font-size: 2.441em;
}
h2.ul-ui.header {
  font-size: 1.953em;
}
h3.ul-ui.header {
  font-size: 1.563em;
}
h4.ul-ui.header {
  font-size: 1.25em;
}
h5.ul-ui.header {
  font-size: 1em;
}
/* Sub Header */
h1.ul-ui.header .sub.header {
  font-size: 1.14285714rem;
}
h2.ul-ui.header .sub.header {
  font-size: 1.14285714rem;
}
h3.ul-ui.header .sub.header {
  font-size: 1rem;
}
h4.ul-ui.header .sub.header {
  font-size: 1rem;
}
h5.ul-ui.header .sub.header {
  font-size: 0.92857143rem;
}
