
/*******************************
            Header
*******************************/
/* Standard */
.ul-ui.header {
  border: none;
  margin: calc(1.85714286rem) 0em 1rem;
  padding: 0em 0em;
  line-height: 1.25em;
  text-transform: none;
  color: #444444;
}
.ul-ui.header:first-child {
  margin-top: -0.14285714em;
}
.ul-ui.header:last-child {
  margin-bottom: 0em;
}
/*--------------
   Sub Header
---------------*/
.ul-ui.header .sub.header {
  display: block;
  font-weight: normal;
  padding: 0em;
  margin: 0em;
  font-size: 1em;
  line-height: 1.25em;
  color: #666666;
}

/*--------------
     Page
---------------*/
h1 {
  min-height: 1em;
  font-size: 2.441em;
}
h2 {
  font-size: 1.953em;
}
h3 {
  font-size: 1.563em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h1.ul-ui.header {
  font-size: 2.441em;
}
h2.ul-ui.header {
  font-size: 1.953em;
}
h3.ul-ui.header {
  font-size: 1.563em;
}
h4.ul-ui.header {
  font-size: 1.25em;
}
h5.ul-ui.header {
  font-size: 1em;
}
.ul-ui.small.text {
  font-size: 0.8em;
}
.ul-ui.xsmall.text {
  font-size: 0.64em;
  text-transform: uppercase;
}
.ul-ui.semi-strong.text {
  font-weight: 500;
}
.ul-ui.strong.text {
  font-weight: 600;
}
.ul-ui.normal.text {
  font-weight: 400;
}
.ul-ui.red.text {
  color: #be2236;
}
.ul-ui.orange.text {
  color: #f18a21;
}
.ul-ui.yellow.text {
  color: #ffc62f;
}
.ul-ui.green.text {
  color: #92c83e;
}
.ul-ui.teal.text {
  color: #59b7b3;
}
.ul-ui.blue.text {
  color: #67b1e2;
}
.ul-ui.brown.text {
  color: #c4b8aa;
}
.ul-ui.gray.text {
  color: #f5f5f5;
}
.ul-ui.black.text {
  color: #666666;
}
/* Sub Header */
h1.ul-ui.header .sub.header {
  font-size: 0.64em;
}
h2.ul-ui.header .sub.header {
  font-size: 0.8em;
}
h3.ul-ui.header .sub.header {
  font-size: 0.8em;
}
h4.ul-ui.header .sub.header {
  font-size: 0.8em;
}
h5.ul-ui.header .sub.header {
  font-size: 0.64em;
}