.ul-ui.buttons .button,
.ul-ui.buttons .or,
.ul-ui.button,
.ul-ui.base.buttons .button,
.ul-ui.base.buttons .or,
.ul-ui.base.button {
  font-size: 1em;
}
.ul-ui.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  border: none;
  vertical-align: baseline;
  background-color: #e1e2e2;
  color: #666666;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0em 0.25em 0em 0em;
  padding: 0.8em 3.052em;
  text-transform: none;
  text-shadow: none;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.25em;
  letter-spacing: 0.04em;
}
.ul-ui.button:hover,
.ul-ui.button.hovered {
  background-color: #d4d5d5;
  color: #444444;
}
.ul-ui.xxsm.buttons .button,
.ul-ui.xxsm.buttons .or,
.ul-ui.xxsm.button {
  font-size: 0.512em;
}
.ul-ui.xsm.buttons .button,
.ul-ui.xsm.buttons .or,
.ul-ui.xsm.button {
  font-size: 0.64em;
}
.ul-ui.small.buttons .button,
.ul-ui.small.buttons .or,
.ul-ui.small.button {
  font-size: 0.8em;
}
.ul-ui.buttons .button,
.ul-ui.buttons .or,
.ul-ui.button,
.ul-ui.base.buttons .button,
.ul-ui.base.buttons .or,
.ul-ui.base.button {
  font-size: 1em;
}
.ul-ui.medium.buttons .button,
.ul-ui.medium.buttons .or,
.ul-ui.medium.button {
  font-size: 1.25em;
}
.ul-ui.large.buttons .button,
.ul-ui.large.buttons .or,
.ul-ui.large.button {
  font-size: 1.563em;
}
.ul-ui.fluid.button {
  display: block;
}
.ul-ui.fluid.buttons,
.ul-ui.fluid.button {
  width: 100%;
}
.ul-ui.red.buttons .button,
.ul-ui.red.button {
  background-color: #c02032;
  color: #FFFFFF;
}
.ul-ui.red.buttons .button:hover,
.ul-ui.red.button:hover {
  background-color: #892433;
  color: #ffffff;
}
.ul-ui.icon.buttons .button,
.ul-ui.icon.button {
  padding: 0.78571429em 0.78571429em 0.78571429em;
}
.ul-ui.icon.buttons .button > .icon,
.ul-ui.icon.button > .icon {
  opacity: 0.9;
  margin: 0em !important;
  vertical-align: top;
}
.ul-ui.button > .icon:not(.button) {
  height: 0.85714286em;
  opacity: 0.8;
  margin: 0em 0.42857143em 0em -0.21428571em;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
  vertical-align: '';
  color: '';
}
.ul-ui.teal.buttons .button,
.ul-ui.teal.button {
  background-color: #007584;
  color: #FFFFFF;
}
.ul-ui.button:active,
.ul-ui.active.button:active {
  background-color: #babcbc;
  color: #000000;
}
.ul-ui.button:focus,
.ul-ui.button.focused {
  background-color: #c7c9c9;
  color: #000000;
}
.ul-ui.red.buttons .button:active,
.ul-ui.red.button:active {
  background-color: #611924;
}
.ul-ui.red.buttons .button:focus,
.ul-ui.red.button:focus {
  background-color: #751f2b;
}
.ul-ui.teal.buttons .button:active,
.ul-ui.teal.button:active {
  background-color: #004851;
}
.ul-ui.teal.buttons .button:focus,
.ul-ui.teal.button:focus {
  background-color: #005e6b;
}
.ul-ui.teal.buttons .button:hover,
.ul-ui.teal.button:hover {
  background-color: #204b5a;
}
.ul-ui.teal.buttons .button,
.ul-ui.teal.button {
  background-color: #007584;
  color: #FFFFFF;
}
