/*******************************
            Spacing & Fonts
*******************************/
/*******************************
            Colors
*******************************/
/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/
/*--------------
    Card
---------------*/
.ul-ui.card {
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 1rem 0em;
  padding: 1em 1em;
  border: 1px solid rgba(34, 36, 38, 0.15);
}
.ul-ui.card:first-child {
  margin-top: 0em;
}
.ul-ui.card:last-child {
  margin-bottom: 0em;
}
/* Vertical */
.ul-ui.vertical.card {
  margin: 0em;
  padding-left: 0em;
  padding-right: 0em;
  background: none transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}
.ul-ui.vertical.card:last-child {
  border-bottom: none;
}
/*-------------------
    Loose Coupling
--------------------*/
/* Header */
.ul-ui.inverted.card > .ul-ui.header {
  color: #FFFFFF;
}
/* Label */
.ul-ui[class*="bottom attached"].card > [class*="top attached"].label {
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
}
.ul-ui[class*="top attached"].card > [class*="bottom attached"].label {
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
}
.ul-ui.attached.card:not(.top):not(.bottom) > [class*="top attached"].label {
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
}
.ul-ui.attached.card:not(.top):not(.bottom) > [class*="bottom attached"].label {
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
}
/* Grid */
.ul-ui.page.grid.card,
.ul-ui.grid > .row > .ul-ui.card.column,
.ul-ui.grid > .ul-ui.card.column {
  padding-top: 2em;
  padding-bottom: 2em;
}
.ul-ui.grid.card {
  margin: 1rem 0em;
}
/* Table */
.ul-ui.basic.table.card {
  background: #FFFFFF;
  border: 1px solid rgba(34, 36, 38, 0.15);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
}
.ul-ui[class*="very basic"].table.card {
  padding: 1em 1em;
}
/*******************************
             Types
*******************************/
/*-------------------
     Placeholder
--------------------*/
.ul-ui.placeholder.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  max-width: initial;
  -webkit-animation: none;
  animation: none;
  overflow: visible;
  padding: 1em 1em;
  min-height: 18rem;
  background: #F9FAFB;
  border-color: rgba(34, 36, 38, 0.15);
  -webkit-box-shadow: 0px 2px 25px 0 rgba(34, 36, 38, 0.05) inset;
  box-shadow: 0px 2px 25px 0 rgba(34, 36, 38, 0.05) inset;
}
.ul-ui.placeholder.card .button,
.ul-ui.placeholder.card textarea {
  display: block;
}
.ul-ui.placeholder.card .field,
.ul-ui.placeholder.card textarea,
.ul-ui.placeholder.card > .ul-ui.input,
.ul-ui.placeholder.card .button {
  max-width: 15rem;
  margin-left: auto;
  margin-right: auto;
}
.ul-ui.placeholder.card .column .button,
.ul-ui.placeholder.card .column .field,
.ul-ui.placeholder.card .column textarea,
.ul-ui.placeholder.card .column > .ul-ui.input {
  max-width: 15rem;
  margin-left: auto;
  margin-right: auto;
}
.ul-ui.placeholder.card > .inline {
  -ms-flex-item-align: center;
  align-self: center;
}
.ul-ui.placeholder.card > .inline > .button {
  display: inline-block;
  width: auto;
  margin: 0px 0.35714286rem 0px 0px;
}
.ul-ui.placeholder.card > .inline > .button:last-child {
  margin-right: 0px;
}
/*-------------------
        Piled
--------------------*/
.ul-ui.piled.cards,
.ul-ui.piled.card {
  margin: 3em 0em;
  -webkit-box-shadow: '';
  box-shadow: '';
  z-index: auto;
}
.ul-ui.piled.card:first-child {
  margin-top: 0em;
}
.ul-ui.piled.card:last-child {
  margin-bottom: 0em;
}
.ul-ui.piled.cards:after,
.ul-ui.piled.cards:before,
.ul-ui.piled.card:after,
.ul-ui.piled.card:before {
  background-color: #FFFFFF;
  visibility: visible;
  content: '';
  display: block;
  height: 100%;
  left: 0px;
  position: absolute;
  width: 100%;
  border: 1px solid rgba(34, 36, 38, 0.15);
  -webkit-box-shadow: '';
  box-shadow: '';
}
.ul-ui.piled.cards:before,
.ul-ui.piled.card:before {
  -webkit-transform: rotate(-1.2deg);
  transform: rotate(-1.2deg);
  top: 0;
  z-index: -2;
}
.ul-ui.piled.cards:after,
.ul-ui.piled.card:after {
  -webkit-transform: rotate(1.2deg);
  transform: rotate(1.2deg);
  top: 0;
  z-index: -1;
}
/* Piled Attached */
.ul-ui[class*="top attached"].piled.card {
  margin-top: 3em;
  margin-bottom: 0em;
}
.ul-ui.piled.card[class*="top attached"]:first-child {
  margin-top: 0em;
}
.ul-ui.piled.card[class*="bottom attached"] {
  margin-top: 0em;
  margin-bottom: 3em;
}
.ul-ui.piled.card[class*="bottom attached"]:last-child {
  margin-bottom: 0em;
}
/*-------------------
       Stacked
--------------------*/
.ul-ui.stacked.card {
  padding-bottom: 1.4em;
}
.ul-ui.stacked.cards:before,
.ul-ui.stacked.cards:after,
.ul-ui.stacked.card:before,
.ul-ui.stacked.card:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0%;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  background: rgba(0, 0, 0, 0.03);
  width: 100%;
  height: 6px;
  visibility: visible;
}
.ul-ui.stacked.cards:before,
.ul-ui.stacked.card:before {
  display: none;
}
/* Add additional page */
.ul-ui.tall.stacked.cards:before,
.ul-ui.tall.stacked.card:before {
  display: block;
  bottom: 0px;
}
/* Inverted */
.ul-ui.stacked.inverted.cards:before,
.ul-ui.stacked.inverted.cards:after,
.ul-ui.stacked.inverted.card:before,
.ul-ui.stacked.inverted.card:after {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(34, 36, 38, 0.35);
}
/*-------------------
       Padded
--------------------*/
.ul-ui.padded.card {
  padding: 1.5em;
}
.ul-ui[class*="very padded"].card {
  padding: 3em;
}
/* Padded vertical */
.ul-ui.padded.card.vertical.card,
.ul-ui[class*="very padded"].vertical.card {
  padding-left: 0px;
  padding-right: 0px;
}
/*-------------------
       Compact
--------------------*/
.ul-ui.compact.card {
  display: table;
}
/* Compact Group */
.ul-ui.compact.cards {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.ul-ui.compact.cards .card,
.ul-ui.cards .compact.card {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}
/*-------------------
       Circular
--------------------*/
.ul-ui.circular.card {
  display: table-cell;
  padding: 2em;
  text-align: center;
  vertical-align: middle;
  border-radius: 500em;
}
/*-------------------
       Raised
--------------------*/
.ul-ui.raised.cards,
.ul-ui.raised.card {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
}
/*******************************
            Groups
*******************************/
/* Group */
.ul-ui.cards {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin: 1rem 0em;
  border: 1px solid rgba(34, 36, 38, 0.15);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
}
.ul-ui.cards:first-child {
  margin-top: 0em;
}
.ul-ui.cards:last-child {
  margin-bottom: 0em;
}
/* Nested Segment */
.ul-ui.cards > .card {
  top: 0px;
  bottom: 0px;
  margin: 0em;
  width: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}
.ul-ui.cards:not(.horizontal) > .card:first-child {
  border-top: none;
  margin-top: 0em;
  bottom: 0px;
  margin-bottom: 0em;
  top: 0px;
}
/* Bottom */
.ul-ui.cards:not(.horizontal) > .card:last-child {
  top: 0px;
  bottom: 0px;
  margin-top: 0em;
  margin-bottom: 0em;
  -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), none;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), none;
}
/* Nested Group */
.ul-ui.cards > .ul-ui.cards {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  margin: 1rem 1rem;
}
.ul-ui.cards > .cards:first-child {
  border-top: none;
}
.ul-ui.cards > .card + .cards:not(.horizontal) {
  margin-top: 0em;
}
/* Horizontal Group */
.ul-ui.horizontal.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: transparent;
  padding: 0em;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 1rem 0em;
  border: 1px solid rgba(34, 36, 38, 0.15);
}
/* Nested Horizontal Group */
.ul-ui.cards > .horizontal.cards {
  margin: 0em;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}
/* Horizontal Segment */
.ul-ui.horizontal.cards > .card {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  -ms-flex: 1 1 0px;
  /* Solves #2550 MS Flex */
  margin: 0em;
  min-width: 0px;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-left: 1px solid rgba(34, 36, 38, 0.15);
}
/* Border Fixes */
.ul-ui.cards > .horizontal.cards:first-child {
  border-top: none;
}
.ul-ui.horizontal.cards > .card:first-child {
  border-left: none;
}
/*******************************
            States
*******************************/
/*--------------
    Disabled
---------------*/
.ul-ui.disabled.card {
  opacity: 0.45;
  color: rgba(40, 40, 40, 0.3);
}
/*--------------
    Loading
---------------*/
.ul-ui.loading.card {
  position: relative;
  cursor: default;
  pointer-events: none;
  text-shadow: none !important;
  color: transparent !important;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
}
.ul-ui.loading.card:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0%;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  z-index: 100;
}
.ul-ui.loading.card:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -1.5em 0em 0em -1.5em;
  width: 3em;
  height: 3em;
  -webkit-animation: segment-spin 0.6s linear;
  animation: segment-spin 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-color: #767676 rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 0.2em;
  -webkit-box-shadow: 0px 0px 0px 1px transparent;
  box-shadow: 0px 0px 0px 1px transparent;
  visibility: visible;
  z-index: 101;
}
@-webkit-keyframes segment-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes segment-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*******************************
           Variations
*******************************/
/*-------------------
       Basic
--------------------*/
.ul-ui.basic.card {
  background: none transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}
/*-------------------
       Clearing
--------------------*/
.ul-ui.clearing.card:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/*-------------------
       Colors
--------------------*/
/* Red */
.ul-ui.red.card:not(.inverted) {
  border-top: 2px solid #DB2828 !important;
}
.ul-ui.inverted.red.card {
  background-color: #DB2828 !important;
  color: #FFFFFF !important;
}
/* Orange */
.ul-ui.orange.card:not(.inverted) {
  border-top: 2px solid #F2711C !important;
}
.ul-ui.inverted.orange.card {
  background-color: #F2711C !important;
  color: #FFFFFF !important;
}
/* Yellow */
.ul-ui.yellow.card:not(.inverted) {
  border-top: 2px solid #FBBD08 !important;
}
.ul-ui.inverted.yellow.card {
  background-color: #FBBD08 !important;
  color: #FFFFFF !important;
}
/* Olive */
.ul-ui.olive.card:not(.inverted) {
  border-top: 2px solid #B5CC18 !important;
}
.ul-ui.inverted.olive.card {
  background-color: #B5CC18 !important;
  color: #FFFFFF !important;
}
/* Green */
.ul-ui.green.card:not(.inverted) {
  border-top: 2px solid #21BA45 !important;
}
.ul-ui.inverted.green.card {
  background-color: #21BA45 !important;
  color: #FFFFFF !important;
}
/* Teal */
.ul-ui.teal.card:not(.inverted) {
  border-top: 2px solid #00B5AD !important;
}
.ul-ui.inverted.teal.card {
  background-color: #00B5AD !important;
  color: #FFFFFF !important;
}
/* Blue */
.ul-ui.blue.card:not(.inverted) {
  border-top: 2px solid #2185D0 !important;
}
.ul-ui.inverted.blue.card {
  background-color: #2185D0 !important;
  color: #FFFFFF !important;
}
/* Violet */
.ul-ui.violet.card:not(.inverted) {
  border-top: 2px solid #6435C9 !important;
}
.ul-ui.inverted.violet.card {
  background-color: #6435C9 !important;
  color: #FFFFFF !important;
}
/* Purple */
.ul-ui.purple.card:not(.inverted) {
  border-top: 2px solid #A333C8 !important;
}
.ul-ui.inverted.purple.card {
  background-color: #A333C8 !important;
  color: #FFFFFF !important;
}
/* Pink */
.ul-ui.pink.card:not(.inverted) {
  border-top: 2px solid #E03997 !important;
}
.ul-ui.inverted.pink.card {
  background-color: #E03997 !important;
  color: #FFFFFF !important;
}
/* Brown */
.ul-ui.brown.card:not(.inverted) {
  border-top: 2px solid #A5673F !important;
}
.ul-ui.inverted.brown.card {
  background-color: #A5673F !important;
  color: #FFFFFF !important;
}
/* Grey */
.ul-ui.grey.card:not(.inverted) {
  border-top: 2px solid #767676 !important;
}
.ul-ui.inverted.grey.card {
  background-color: #767676 !important;
  color: #FFFFFF !important;
}
/* Black */
.ul-ui.black.card:not(.inverted) {
  border-top: 2px solid #1B1C1D !important;
}
.ul-ui.inverted.black.card {
  background-color: #1B1C1D !important;
  color: #FFFFFF !important;
}
/*-------------------
       Aligned
--------------------*/
.ul-ui[class*="left aligned"].card {
  text-align: left;
}
.ul-ui[class*="right aligned"].card {
  text-align: right;
}
.ul-ui[class*="center aligned"].card {
  text-align: center;
}
/*-------------------
       Floated
--------------------*/
.ul-ui.floated.card,
.ul-ui[class*="left floated"].card {
  float: left;
  margin-right: 1em;
}
.ul-ui[class*="right floated"].card {
  float: right;
  margin-left: 1em;
}
/*-------------------
      Inverted
--------------------*/
.ul-ui.inverted.card {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ul-ui.inverted.card,
.ul-ui.primary.inverted.card {
  background: #1B1C1D;
  color: rgba(255, 255, 255, 0.9);
}
/* Nested */
.ul-ui.inverted.card .card {
  color: rgba(0, 0, 0, 0.87);
}
.ul-ui.inverted.card .inverted.card {
  color: rgba(255, 255, 255, 0.9);
}
/* Attached */
.ul-ui.inverted.attached.card {
  border-color: #555555;
}
/*-------------------
     Emphasis
--------------------*/
/* Secondary */
.ul-ui.secondary.card {
  background: #F3F4F5;
  color: rgba(0, 0, 0, 0.6);
}
.ul-ui.secondary.inverted.card {
  background: #4c4f52 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2)));
  background: #4c4f52 -webkit-linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  background: #4c4f52 linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  color: rgba(255, 255, 255, 0.8);
}
/* Tertiary */
.ul-ui.tertiary.card {
  background: #DCDDDE;
  color: rgba(0, 0, 0, 0.6);
}
.ul-ui.tertiary.inverted.card {
  background: #717579 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.35)), to(rgba(255, 255, 255, 0.35)));
  background: #717579 -webkit-linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%);
  background: #717579 linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%);
  color: rgba(255, 255, 255, 0.8);
}
/*-------------------
      Attached
--------------------*/
/* Middle */
.ul-ui.attached.card {
  top: 0px;
  bottom: 0px;
  margin: 0em -1px;
  width: calc(102%);
  max-width: calc(102%);
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #D4D4D5;
}
.ul-ui.attached:not(.message) + .ul-ui.attached.card:not(.top) {
  border-top: none;
}
/* Top */
.ul-ui[class*="top attached"].card {
  bottom: 0px;
  margin-bottom: 0em;
  top: 0px;
  margin-top: 1rem;
}
.ul-ui.card[class*="top attached"]:first-child {
  margin-top: 0em;
}
/* Bottom */
.ul-ui.card[class*="bottom attached"] {
  bottom: 0px;
  margin-top: 0em;
  top: 0px;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), none;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15), none;
}
.ul-ui.card[class*="bottom attached"]:last-child {
  margin-bottom: 0em;
}
/*-------------------
        Size
--------------------*/
.ul-ui.mini.cards .card,
.ul-ui.mini.card {
  font-size: 0.78571429rem;
}
.ul-ui.tiny.cards .card,
.ul-ui.tiny.card {
  font-size: 0.85714286rem;
}
.ul-ui.small.cards .card,
.ul-ui.small.card {
  font-size: 0.92857143rem;
}
.ul-ui.cards .card,
.ul-ui.card {
  font-size: 1rem;
}
.ul-ui.large.cards .card,
.ul-ui.large.card {
  font-size: 1.14285714rem;
}
.ul-ui.big.cards .card,
.ul-ui.big.card {
  font-size: 1.28571429rem;
}
.ul-ui.huge.cards .card,
.ul-ui.huge.card {
  font-size: 1.42857143rem;
}
.ul-ui.massive.cards .card,
.ul-ui.massive.card {
  font-size: 1.71428571rem;
}
