
/*******************************
            List
*******************************/
.ul-ui.list {
  list-style-type: none;
  margin: 1em 0em;
  padding: 0em 0em;
}
.ul-ui.list:first-child {
  margin-top: 0em;
  padding-top: 0em;
}
.ul-ui.list:last-child {
  margin-bottom: 0em;
  padding-bottom: 0em;
}
/*******************************
            Content
*******************************/
/* List Item */
.ul-ui.list > .item,
.ul-ui.list .list > .item {
  display: list-item;
  table-layout: fixed;
  list-style-type: none;
  list-style-position: outside;
  padding: 0.21428571em 0em;
  line-height: 1.14285714em;
}
.ul-ui.list > .list > .item,
.ul-ui.list > .item:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.ul-ui.list .list > .item:first-child,
.ul-ui.list > .item:first-child {
  padding-top: 0em;
}
.ul-ui.list .list > .item:last-child,
.ul-ui.list > .item:last-child {
  padding-bottom: 0em;
}
/* Child List */
.ul-ui.list .list {
  clear: both;
  margin: 0em;
  padding: 0.75em 0em 0.25em 0.5em;
}
/* Child Item */
.ul-ui.list .list > .item {
  padding: 0.14285714em 0em;
  line-height: inherit;
}

/* Header */
.ul-ui.list .list > .item .header,
.ul-ui.list > .item .header {
  display: block;
  margin: 0.512em 0;
  font-size: 1em;
  color: #444444;
}

/*-------------------
       Divided
--------------------*/
.ul-ui.divided.list > .item {
  border-top: 1px solid rgba(34, 36, 38, 0.15);
}
.ul-ui.divided.list .list > .item {
  border-top: none;
}
.ul-ui.divided.list .item .list > .item {
  border-top: none;
}
.ul-ui.divided.list .list > .item:first-child,
.ul-ui.divided.list > .item:first-child {
  border-top: none;
}
/* Sub Menu */
.ul-ui.divided.list:not(.horizontal) .list > .item:first-child {
  border-top-width: 1px;
}
