.ul-ui.bulleted.list {
  margin-left: 1.25em;
}
.ul-ui.list {
  list-style-type: none;
  margin: 1em 0em;
  padding: 0.64em;
}
.ul-ui.bulleted.list .list > .item,
.ul-ui.bulleted.list > .item {
  position: relative;
  margin-bottom: 10px;
}
.ul-ui.list .list > .item:first-child,
.ul-ui.list > .item:first-child {
  padding-top: 0em;
}
.ul-ui.list > .item,
.ul-ui.list .list > .item {
  display: list-item;
  table-layout: fixed;
  list-style-type: none;
  list-style-position: outside;
  /*padding: 0.64em 0em;*/
}
.ul-ui.bulleted.list .list > .item:before,
.ul-ui.bulleted.list > .item:before {
  pointer-events: none;
  position: absolute;
  top: auto;
  left: auto;
  font-weight: normal;
  margin-left: -1.25em;
  content: '•';
  opacity: 1;
  color: inherit;
  vertical-align: top;
}
.ul-ui.list > .list > .item,
.ul-ui.list > .item:after {
  content: '';
  display: block;
  clear: both;
}
