/*******************************
            Spacing & Fonts
*******************************/
/*******************************
            Colors
*******************************/
/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/
/*---------------------*/
p:last-child {
  margin-bottom: 0;
}
p:first-child {
  margin-top: 0;
}
p {
  margin: 0 0 1em;
  line-height: 1.4285em;
}
/*--------------
     Page
---------------*/
h1 {
  min-height: 1em;
  font-size: 2.441em;
}
h2 {
  font-size: 1.953em;
}
h3 {
  font-size: 1.563em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
/*--------------
     Content
---------------*/
.ul-ui.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  font-size: 1.25em;
}
.ul-ui.header {
  border: none;
  margin: calc(1.85714286rem) 0 1rem;
  padding: 0 0;
  line-height: 1.28571429em;
  text-transform: none;
  color: rgba(0, 0, 0, 0.87);
}
.ul-ui.header:first-child {
  margin-top: -0.14285714em;
}
.ul-ui.header:last-child {
  margin-bottom: 0;
}
h1.ul-ui.header {
  font-size: 2.441em;
}
h2.ul-ui.header {
  font-size: 1.953em;
}
h3.ul-ui.header {
  font-size: 1.563em;
}
h4.ul-ui.header {
  font-size: 1.25em;
}
h5.ul-ui.header {
  font-size: 1em;
}
/* Content Sub Header */
h1.ul-ui.header .sub.header {
  font-size: 0.512em;
  line-height: 1.563em;
  margin-top: 0.8em;
}
h2.ul-ui.header .sub.header {
  font-size: 0.8em;
}
h3.ul-ui.header .sub.header {
  font-size: 0.8em;
}
h4.ul-ui.header .sub.header {
  font-size: 0.8em;
}
h5.ul-ui.header .sub.header {
  font-size: 0.64em;
}
/*-------------------
      Dividing
--------------------*/
.ul-ui.dividing.header {
  padding-bottom: 0.2em;
  border-bottom: 1px solid #c7c9c9;
}
.ul-ui.dividing.header .sub.header {
  padding-bottom: 0.2em;
}
/* Colors */
.ul-ui.dividing.red.header {
  color: #c02032;
  border-bottom: 1px solid #c02032;
}
.ul-ui.dividing.orange.header {
  color: #f18a21;
  border-bottom: 1px solid #f18a21;
}
.ul-ui.dividing.yellow.header {
  color: #ffc62f;
  border-bottom: 1px solid #ffc62f;
}
.ul-ui.dividing.green.header {
  color: #92c83e;
  border-bottom: 1px solid #92c83e;
}
.ul-ui.dividing.teal.header {
  color: #59b7b3;
  border-bottom: 1px solid #59b7b3;
}
.ul-ui.dividing.blue.header {
  color: #67b1e2;
  border-bottom: 1px solid #67b1e2;
}
.ul-ui.dividing.brown.header {
  color: #c4b8aa;
  border-bottom: 1px solid #c4b8aa;
}
.ul-ui.dividing.gray.header {
  color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}
.ul-ui.dividing.black.header {
  color: #666666;
  border-bottom: 1px solid #666666;
}
.ul-ui.dividing.white.header {
  color: #fff;
  border-bottom: 1px solid #fff;
}
/*-------------------
       Disabled
--------------------*/
.ul-ui.disabled.header {
  opacity: 0.45;
}
/*-------------------
        Block
--------------------*/
.ul-ui.block.header {
  background: #f5f5f5;
  padding: 0.8em;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #D4D4D5;
  border-radius: 0.2em;
}
/*-------------------
       Aligned
--------------------*/
.ul-ui.left.aligned.header {
  text-align: left;
}
.ul-ui.right.aligned.header {
  text-align: right;
}
.ul-ui.centered.header,
.ul-ui.center.aligned.header {
  text-align: center;
}
.ul-ui.justified.header {
  text-align: justify;
}
.ul-ui.justified.header:after {
  display: inline-block;
  content: '';
  width: 100%;
}
/*--------------
 Emphasis and color
---------------*/
.ul-ui.small.text {
  font-size: 0.8em;
  margin: 0;
  opacity: 0.7;
}
.ul-ui.xsmall.text {
  font-size: 0.64em;
  text-transform: uppercase;
  margin: 0;
  opacity: 0.7;
}
.ul-ui.semi-strong.text {
  font-weight: 500;
}
.ul-ui.strong.text {
  font-weight: 600;
}
.ul-ui.normal.text {
  font-weight: 400;
}
.ul-ui.red.text {
  color: #c02032;
}
.ul-ui.orange.text {
  color: #f18a21;
}
.ul-ui.yellow.text {
  color: #ffc62f;
}
.ul-ui.green.text {
  color: #92c83e;
}
.ul-ui.teal.text {
  color: #59b7b3;
}
.ul-ui.blue.text {
  color: #67b1e2;
}
.ul-ui.brown.text {
  color: #c4b8aa;
}
.ul-ui.gray.text {
  color: #f5f5f5;
}
.ul-ui.black.text {
  color: #666666;
}
.ul-ui.white.text {
  color: #fff;
}
